<style type='text/css'>
  #main-menu-button {
  display: none;
}


@media (max-width: 48em) {

  /* hide social media links in mobile view */

  #top-social-container {
    display: none
  }

  /* menu */

  #main-menu-list {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  /* menu icon */

  #main-menu-icon,
  #main-menu-icon:before,
  #main-menu-icon:after {
    background: white;
    display: block;
    width: 30px;
    content: '';
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
  #main-menu-icon {
    height: 3px;
    position: relative;
    transition-property: background;
  }

  /* three lines -> burger style */
  #main-menu-icon:before,
  #main-menu-icon:after {
    height: 100%;
    position: absolute;
    transition-property: all;
  }
  #main-menu-icon:before { top: 10px; }
  #main-menu-icon:after { top: -10px; }

  /* menu button */

  #main-menu-button {
    display: none;
  }

  #main-menu-button:checked ~ #main-menu-list {
    max-height: 100%;
  }

  /* parallel -> crossing transition of hamburger menu icon */

  #main-menu-button:checked ~ #main-menu-label #main-menu-icon { background: transparent; }
  #main-menu-button:checked ~ #main-menu-label #main-menu-icon:before { transform: rotate(-45deg); }
  #main-menu-button:checked ~ #main-menu-label #main-menu-icon:after { transform: rotate(45deg); }
  #main-menu-button:checked ~ #main-menu-label:not(.steps) #main-menu-icon:before,
  #main-menu-button:checked ~ #main-menu-label:not(.steps) #main-menu-icon:after {
    top: 0;
  }

  #main-menu-label {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  #main-menu-list {
    overflow: hidden;
    position: absolute;
    top: 3em;
  }

  #main-menu-list li {
    display: block;
    text-align: right;
    padding: 0.5em;
  }

  /* reduce width of logo and place logo and hamburger menu on one line */

  #site-logo { display: inline; }
  #site-logo img { width: 40px; }
  #main-menu-container {
    display: inline;
  }
}
</style>
<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a id="site-logo" href="{{ .Site.Home.RelPermalink }}" class="site-logo f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div id="main-menu-container">
      {{ if .Site.Menus.main }}
        <input id="main-menu-button" type="checkbox" id="main-menu-button" />
        <label id="main-menu-label" for="main-menu-button"><span id="main-menu-icon"></span></label>
          <ul id="main-menu-list" class="pl0 mr3">
          {{ range sort .Site.Menus.main "Weight" }}
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</nav>
