<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    {{ partial "i18nlist.html" . }}
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
